{% extends 'parsing/_base.html' %}
{% block content %}
    hello world
    <div class="col-lg-4 col-sm-6" style="display:flex; flex-direction:column; margin:auto; gap:20px">
        <div style="font-size: 1.5rem; text-align:center">
            Enter Twitter accounts:
        </div>
    <form method='POST' style="display:flex; flex-direction:column; gap:20px">
        {% csrf_token %}
        <textarea type='textarea' rows='5' class='form-control' type="" name="accounts"></textarea>
        
        <button type='button' disabled hidden class="btn btn-primary">Hello</button>
        <button class="btn btn-primary col-lg-12">submit</button>
    </form>
    {% for user in users %}
        <br>
        <div style="display:flex; flex-direction:column">
            <div style="font-weight:700">user: {{user.screen_name}}</div>
            <div>description: {{user.description}}</div>
            <div>followers: {{user.followers}}</div>
            <div>friends: {{user.friends}}</div>
        </div>
        <ol>
        {% for tweet in user.last_tweets %}
            <li>{{tweet}}</li> 
        {% endfor %}
        </ol>
    {% endfor %}
    </div>
{% endblock %}